<?xml version='1.0' encoding='utf-8'?>
<widget id="io.arora.oski" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Oski the Freshman Explorer</name>
    <description>
        A simple Berkeley App.
    </description>
    <author email="dhruvarora@berkeley.edu" href="http://arora.io">
        The Oski Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon gap:platform="ios" height="16" src="res/icon/ios/bear-16.png" width="16" />
    <icon gap:platform="ios" height="20" src="res/icon/ios/bear-20.png" width="20" />
    <icon gap:platform="ios" height="64" src="res/icon/ios/bear-64.png" width="64" />
    <icon gap:platform="ios" height="128" src="res/icon/ios/bear-128.png" width="128" />
    <icon gap:platform="ios" height="256" src="res/icon/ios/bear-256.png" width="256" />
    <gap:plugin name="org.apache.cordova.statusbar" version="0.1.8" />
    <gap:plugin name="org.apache.cordova.splashscreen" /> <!-- Splashscreen plugin -->
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="false" />
    </feature>
</widget>
